body {
    font-family: "Oxygen", serif;
    margin: 0;
}
header{
    background-color: #02090f;
    padding: 1rem 10px;
    text-align: center;
    color: #83cdfc;
    font-size: 1.6rem;
    font-weight: 700;
}
nav{
    background-color: rgb(2, 16, 63);
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
}
nav a {
    text-decoration: none;
    color: #83cdfc;
    padding: .83rem .83rem;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
}
nav li.active a {
    background-color: #024873;
    color: gold;
}

nav li a:hover {
    color: white;
}

main {
    padding: 1rem 10px;
    background-color: #ffffff;
}

main h1 {
    color: gold;
}
main h2 {
    color: #024873;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}
main ol {
    background-color: #83cdfc;
    padding: .5rem 30px;
}
main dl dt {
color: red;
font-weight: 700;
margin-top: 1rem;
}
main dl dd {
    color: #024873;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
 list-style-type: circle;
}
main ul li {
    margin-bottom: .5rem;
    line-height: 125%;
    font-size: .9rem;
}
main strong {
    font-weight: 700;
    color: black;
}
main em {
font-weight: 300;
}
main address {
font-style: normal;
background-color: gold;
padding: .5rem;
border-radius: 16px;
border: 1px solid #024873;
}
main a {
    color: #0277c0;
}
main a:hover {
    color: rgb(87, 86, 86);
}


div.index-item {
    display: flex;
}

figure.index-item {
    width: 90%;
     height: auto;
     margin: 0 0 0 2%;
    float: right;
    text-wrap: wrap

    }
    
    figure.index-item {
        font-size: .75rem;
        text-align: center
    }





figure.portfolio-item {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
    }
    
    figure.portfolio-item img {
        width: 100%;
        height: auto;
    }
    figure.portfolio-item figcaption {
        font-size: .75rem;
        text-align: center;
    }
    div.portfolio-item {
        display: flex;
        flex-wrap: wrap;
        
    }
    div.portfolio-item figure{
       margin: .5rem 2% 0 0;
        
    }
    div.portfolio-item figcaption {
        font-size: .8rem;
        text-align: center;
        color: #0277c0;
    }
    .myform fieldset {
        border: solid #43a0b6 1px;
        border-radius: 3px;
        margin-bottom: 1rem;
    }
    .myform legend {
        color: #43a0b6;
        font-size: .8rem;
    }
    .myform label {
        margin: .5rem;
      display: block;
    }
    
    
    .myform label, .myform select, .myform [type=text], .myform [type=tel], .myform textarea, .myform [type=email] {
      display: block;
    }
    .myform [type=text], .myform [type=tel], .myform select, .myform textarea {
        border: solid #888 1px;
        padding:.3rem;
        width: 250px;
        border-radius: .3rem;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 200;
    }
    .myform textarea {
        height: 6rem;
    }
    .myform :required {
        background-color: rgba(156, 51, 53, 0.1);
    }
    .myform [type=submit] {
        background-color: #43a0b6;
        border: none;
        padding: 1rem;
        border-radius: 10px;
        color: white;
        margin: 1rem 0 0 1vw;
    }


footer {
    background-color: #efefef;
    text-align: center;
    font-size: .8rem;
    padding: 1rem;
    color: #333;
}

footer p {
    margin: 0;
    letter-spacing: 3px;
}